<div class="container px2 py4">
  <div class="border-top-left-radius-2 border-top-right-radius-2 border-bottom-right-radius-2 bg-aquiz py4 px3 clearfix mb3 max-width-3 mx-auto">
    <div class="max-width-2 mx-auto">
      <h1 class="h0 mb0 mt0 white">sms.theater</h1>
      <p class="mb0 white">Month-long candid text conversations focused loosely on industry or interest.</p>
    </div>
  </div>

  <div class="max-width-2 py2 px1 mb3 mx-auto">
    <h1 class="h0 mb0 mt0"><a class="aquiz" href="/act1">Act 1</a></h1>
    <p class="h3">John and Nick talk nihilistic views on tech culture, coastal food differences, and pain/pleasure in javascript development.</p>
    <ul>
      <li>John on <a class="aquiz" href="http://twitter.com/johnwineman">Twitter</a></li>
      <li>Nick on <a class="aquiz" href="http://twitter.com/nicktweattie">Twitter</a></li>
    </ul>
  </div>

  <div class="max-width-2 py2 px1 mb3 mx-auto">
    <h1 class="h0 mb0 mt0">Act 2</h1>
    <p class="h3">Begins June 1, participants TBD</p>
    <ul>
      <li>Know a couple of humans would would be great at this? Drop me an email at nick at nickbytes dot com. I would like to hear from people outside of tradition tech, Act 1 is boring.</li>
    </ul>
  </div>
</div>
