<div class="container px2">
  <h1 class="h0 h0-responsive">What is this?</h1>
  <p>This experiment came out of a desire for me to hear and see others' semi-candid conversations on technology.</p>

  <blockquote class="m0 p2 h2">
    <p class="m0">What do PersonX and PersonY think about TopicZ? It would be great to hear them argue, agree, learn, in the form of conversation outside of the timeline UI.</p>
  </blockquote>

  <h1 class="h0 h0-responsive">I want one of these. How can I have one of these?</h1>
  <p>It's on Github! Feel free to fork it. If people are razzed on this, I'll make an application so that you can create your own open converations.</p>

  <h1 class="h0 h0-responsive">Who made this?</h1>
  <p><a href="http://twitter.com/nicktweatte">@nicktweattie</a> (me) – with feedback and participation from <a href="http://twitter.com/johnwineman">@johnwineman</a>. </p>
  <p>If you want to talk about this thing, feel free to reach me on <a href="http://twitter.com/nicktweatte">twitter</a> or email: nick at nickbytes dot com.</p>

</div>
