@import 'basscss/basscss';

body{
  background-color: rgba(253, 253, 251, 1);
}

body, h1, h2, h3, h4, h5, h6{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
}

a{
  text-decoration: underline;
}

.text-decoration-none, .text-decoration-none:hover{
  text-decoration: none;
}

.bg-Nick{
  background-color: rgba(229, 229, 234, 1);
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;

}

.bg-John{
  background-color: rgba(229, 229, 234, 1);
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
}

.bg-aquiz{
  background-color: rgba(85, 192, 165, 1);
}

.aquiz{
  color: rgba(85, 192, 165, 1);
}

.bg-gray-2{
  background-color: rgba(229, 229, 234, 1);
}

.max-width-2{
  max-width: 32rem;
}

.max-width-3{
  max-width: 48rem;
}

.rounded-2{
  border-radius: 10px;
}

.border-top-left-radius{
  border-top-left-radius: 16px;
}

.border-top-right-radius{
  border-top-right-radius: 16px;
}

.border-bottom-left-radius{
  border-bottom-left-radius: 16px;
}

.border-bottom-right-radius{
  border-bottom-right-radius: 16px;
}

.border-top-left-radius-2{
  border-top-left-radius: 22px;
}

.border-top-right-radius-2{
  border-top-right-radius: 22px;
}

.border-bottom-left-radius-2{
  border-bottom-left-radius: 22px;
}

.border-bottom-right-radius-2{
  border-bottom-right-radius: 22px;
}

.nudge-down-2{
  margin-bottom: -2px;
}

.clear-both{
  clear: both;
}

blockquote{
  background: rgba(238, 238, 238, 1);
}
