<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta title="author" content="Nick Beattie">
  <meta title="description" content="Touchbase.xxx">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>const Churn</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="p2">
    <h1 class="h0 h0-responsive mb0 m0 center">Touchbase.xxx</h1>
  </header>

<%= yield %>

</body>
</html>
